/* .map{
    width: 200px;
    height: 200px;
} */

.contact-info{
    display: flex;
    width: 500px;
    flex-direction: column;
    height: 300px;
    flex-direction: column;
}

.contact-info p{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}