.body-container{
    display: grid;
    
    margin: auto;
    width: 85%;
    margin: auto;
    margin-top:20px;
    grid-template-columns: auto auto;
}

.card-home{
    width: 100%;
}

.sidebar-home{
    width: 100%;
}

*{
  padding: 0;
  margin: 0;
}


@media screen and(min-width:768px){
  .body-container{
    display: grid;
    margin: auto;
    margin-top:20px;
    grid-template-columns: auto auto;
  }
}



