/* .category_cards__Items{
    margin-top: 10px;
    margin-bottom: 10px;
}

.category_cards_container h2{
   margin-top: 10px;
   text-align: center;
} */

h2{
    text-align: center;
    font-family: sans-serif;
    /* width: 30%; */
}

.cards{
    width: 100%;
    margin-bottom: 10px;
    margin-top: var(--c);
    
}

h5{
    text-decoration: none;
    text-align: center;

}

.cards__container{
    padding: 10px 10px;
    /* width: 75%; */
    
}

.cards__item{
    position: relative;
    /* margin-bottom: 15px; */
    box-shadow: 0 6px 20px rgba(51, 71, 105, 0.219);
    -webkit-filter: drop-shadow(0 6px 20px rgba(51, 71, 105, 0.219));
    filter: drop-shadow(0 6px 20px rgba(51, 71, 105, 0.219));
  overflow: hidden;
}

.cards__item__info h5{
   margin-left: 10px;
    color:rgb(49, 44, 44);
}

@media screen and(max-width:768px){
   
    

    .cards__container{
        width: 50%;
    }
    
}