.navbar-container{
    display: flex;
    line-height: 100px;
    align-items: center;
    /* background: rgb(53, 49, 49); */
    background: transparent;
    justify-content: space-between;
}


.navbar-right{
    display: flex;
    width: 50%;
    padding-right: 30px;
    justify-content: flex-end;
    align-items: center;
}


.navbar-right ul{
    list-style-type: none;
     justify-items: self-start;
    display: flex;
}

.navbar-right ul li{

    padding-right: 20px;
}

 ul li a{
     font-size: 1.3rem;
     color: black;
    text-decoration: none;
}


.menu-icon{
    color: black;
    display: none;
}


ul li a:hover{
    color: rgb(241, 197, 14);
}



.navbar-logo{
    padding-left: 20px;
    font-size: 1.8rem;
    color: black;
}

@media screen and (max-width:768px){
    .menu-icon{
     display: contents;
    }

    .nav-items-active ul{
        display: grid;
        top:100px;
        width: 100%;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        left: 0px;
        background: rgb(53, 49, 49);
        position: absolute;
    }


    .nav-items{
        display: none;
    }
}