

.card-items-wrapper{
    display: grid;
    grid-template-columns: auto ;
}
    
.blog_container{
    display: flex;  
    /* flex-wrap: wrap; */
    padding-bottom: 10px; 
   
}

.figure__item__pic__wrap img{
    width: 400px;
    height: 200px;
}

.ellipsis-text{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 13ch;
}



.full-text{
    display: contents;
}

.inline-text{
    display: inline-grid;
}

.excerpt-text{
    padding-left: 0px;
}


@media screen and (max-width:768px){
    .blog_container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .figure__item__pic__wrap img{
        width: 100%;
        margin: auto;
        /* height: 200px; */
    }

    .card-items{
        width: 90%;
        margin: auto;
    }
  
}
